{
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

esp.zuba.dev:443 {
  tls {
  	dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  root * /srv/www

  handle_path /firmware/* {
    file_server * browse {
      hide .gitignore
    }
  }
}
